<div class=container>

  <form #myform='ngForm' (ngSubmit)="onSubmit(myform)" class="form-inline mb-3">
    <input  type="hidden" name="userCityId"  [(ngModel)]="adminService.selectedCity.userCityId" >
    <div class='form-group'>
    <label style= "margin-right:10px; color:black; font-weight: bold; font-family: JF-Flat;">ادخل المركز</label>
    <input name='userCityName'  [(ngModel)]="adminService.selectedCity.userCityName" type="text" class="form-control ml-2" required>
    <button type="submit" [disabled]="!myform.valid" class=" btn-sm ml-2"><i class="material-icons">save</i></button>
  </div>
  </form>
   
    <mat-form-field appearance="fill" style="text-align:right">
      <mat-label style="margin-right:10px; color:black; font-weight: bold; font-family: JF-Flat;">بحث</mat-label>
      <input matInput style='font-family: JF-Flat;' [(ngModel)]="term">
    </mat-form-field>

  <table>
    <tr>
      <th>المسلسل</th>
      <th> المدينه</th>
      <th>عمليات</th>
    </tr>
    <tr *ngFor="let c of cities | filter:term | paginate: { itemsPerPage: 20, currentPage: p} ; index as i">
      <td>{{i+1}}</td>
      <td>{{ c.userCityName }}</td>
      <td>
         <!-- c المتغير في التكرار -->
          <button class="mr-2" (click)="onEdit(c)"><i class="material-icons">edit</i></button>
          <button class="mr-2"  (click)='deleteCity(c.userCityId,myform)'><i class="material-icons">delete</i></button>
          <button  ><i class="material-icons md-48">face</i>   </button>

      </td>
    </tr>
  </table>

</div>
<pagination-controls (pageChange)="p = $event" class='text-center mt-4'></pagination-controls>