<div class="rtl container mt-4 ">
    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center">
                  <div class="card-body" style='height: 600px; background-color: #343a40; color:blanchedalmond; font-family: JF-Flat ;'>

                    <div>
                        <h2  style="font-family: JF-Flat;">المجموعة </h2>
                        <p style="font-family: JF-Flat;">{{userGroup.userGroupName}}</p>
                    </div>

                    <div>
                        <h2  style="font-family: JF-Flat;">الملاحظات</h2>
                        <p style="font-family: JF-Flat;">{{userGroup.notes}}</p>
                    </div>


                </div>

                <div class="card-footer">
                    
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class='member-tabset'>
                    <tab heading=" الطلاب">
                        <div class=container>
                       
                             
                              <mat-form-field appearance="fill" style="text-align:right" >
                                <mat-label style="margin-right:10px; color:black; font-weight: bold; font-family: JF-Flat;">بحث</mat-label>
                                <input matInput style='font-family: JF-Flat;' [(ngModel)]="term">
                              </mat-form-field>
                              
                        
                          
                            <table class='table table-bordered table-hover'>
                              <tr>
                                  <th>المسلسل</th>
                                <th> اسم الطالب</th>
                                <th>Id</th>
                                <th>اسم ولي الامر</th>
                                <th>المجموعة</th>
                        
                            </tr>
                              <tr *ngFor="let c of userGroup.users | filter:term | paginate: { itemsPerPage: 10, currentPage: p} ; index as ii">
                                <td>{{ ii+1 }}</td>
                                <td>{{ c.arabicName}}</td>
                                <td>{{c.id}}</td>
                                <td>{{ c.guardianName}}</td>
                                <td>{{ userGroup?.userGroupName}}</td>

                              </tr>
                            </table>
                          </div>
                          <pagination-controls (pageChange)="p = $event" class='text-center mt-4'></pagination-controls>
                          
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
