/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-v4-rtl/dist/css/bootstrap-rtl.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~alertifyjs/build/css/alertify.rtl.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import url('./assets/groupStyles.css');





@font-face {font-family: 'ah-naskh-hadith';src:url('./assets/fonts/ah-naskh-hadith.ttf')};
@font-face {font-family: 'Droid-Arabic-Kufi';src:url('./assets/fonts/Droid-Arabic-Kufi.ttf')};
@font-face {font-family: 'Droid-Sans-Arabic';src:url('./assets/fonts/Droid-Sans-Arabic.ttf')};
@font-face {font-family: 'JF-Flat';src:url('./assets/fonts/JF-Flat.ttf')};
@font-face {font-family: 'ToyorAljanah';src:url('./assets/fonts/ToyorAljanah.otf')};
@font-face {font-family: 'Tajawal';src:url('./assets/fonts/Tajawal-Medium.ttf')};

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
