<div class="container mt-3 rtl">

    <div class="tab-panel">
        <tabset class="member-tabset">

            <tab heading="القرية ">
                <app-village></app-village>
            </tab>

            <tab heading="المدينه ">
                <app-city></app-city>
            </tab>

            <tab heading="المحافظة ">
                <app-governorate></app-governorate>
            </tab>

            <tab heading="الدولة ">
                <app-country></app-country>
            </tab>
 
        </tabset>
    </div>
</div>


