<div class="container mt-3 rtl">
    <div class="header-container rtl">
        <h5 class="page-header" style="font-family: JF-Flat; font-weight: bolder;">لوحة الإدارة</h5>
    </div>

    <div class="tab-panel">
        <tabset class="member-tabset ">
            <tab heading="الاعضاء">
                <app-all-users></app-all-users>
            </tab>
            <tab heading="اداره الطلاب">
                <app-user-to-admin></app-user-to-admin>
            </tab>

            <tab heading="الصفوف الدراسية">
                <app-user-class></app-user-class>
            </tab>

            <tab heading="المجموعات">
                <app-user-group></app-user-group>
            </tab>

            <tab heading="محل الاقامة">
                <app-user-address></app-user-address>
            </tab>

            <tab heading="الدفع الشهري">
                <app-user-pay></app-user-pay>
            </tab>


            <tab heading=" المسددين الكترونيا">

                <app-payment-users></app-payment-users>
            </tab>



        </tabset>
    </div>
</div>

<!-- <div class="container mt-3 rtl">
    <div class="header-container rtl">
        <div class="tab-panel">
<mat-tab-group   class="member-tabset">
    <mat-tab label="طلاب بلا فصل دراسي"> 
        <app-users ></app-users>
    </mat-tab>
    <mat-tab label="الصفوف الدراسية" > 
        <app-user-class></app-user-class>
    </mat-tab>
    <mat-tab label="المسددين الكترونيا" > 
        <app-payment-users ></app-payment-users>
    </mat-tab>
  </mat-tab-group>
  </div>
  </div>
</div> -->